.canvas-container {
    position: relative;
  }
  
  .canvas {
    width: 100%;
    height: 100%;
  }
  
  #outer-container {
    pointer-events: none; /* Hace que el canvas exterior no responda a eventos */
  }
  
  #inner-container {
    pointer-events: auto; /* Restablece la respuesta a eventos para el canvas interior */
  }
  